!!!
%html{"ng-app" => "App"}
	= haml :header
	%link{href: 'http://fonts.googleapis.com/css?family=Raleway:100', rel: 'stylesheet', type: 'text/css'}
	%body
		%div{class: 'container'}
			%div{class: 'main-title'}
				%h1 BacklogUI
			%div{class: "login-form center-block"}
				%div{class: "policy-form"}
					利用規約
					%br 1.
					%br 2.
					%br 3.
					%br 4.
					%br 5.
					%br 6.
					%br 7.
				%div{class: "text-center"}
					%input{name: "agreement",type: "checkbox","ng-model" => "agreement"}
					%span
						=t.agree

			%form{name: "form", method: "post",action: "/do_login", class: "login-form  center-block"}
				-if @error
					%p{class: "alert alert-danger"}
						=t.message.login_failure
						%br
						=t.message.confirm_api_key
				%div{class: "form-group"}
					%input{type: "text", name: "space_id", class: "form-control", placeholder: "Backlog #{t.space_id} (#{t.example} https://[#{t.space_id}].backlog.jp)"}
				%div{class: "form-group"}
					%input{type: "text", name: "api_key", class: "form-control", placeholder: "Backlog #{t.api_key}"}
					%a{href: "http://www.backlog.jp/help/usersguide/personal-settings/userguide2378.html",target: 'blank', class: 'hint'}
						%span{class: "fa fa-info-circle"}
						=t.message.generate_api_key
				%div{class: "form-group"}
				%button{typ:"submit", "ng-disabled" => "!agreement", class: "btn btn-primary center-block"}
					%span{class: "fa fa-sign-in"}
					&nbsp;
					=t.login
